body {
    background-color: #000;
    background-image: linear-gradient(rgba(227, 124, 76, 0.171) 1px, transparent 1px), linear-gradient(90deg, rgba(227, 124, 76, 0.171) 1px, transparent 1px);
    background-size: 30px 30px;
    color: #e37b4c;
    font-family: 'Andale Mono', monospace;
}

nav {
    color: #e37b4c;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid #e37b4c;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    width: 220px;
    margin: 10px;
    padding: 10px 0;
}

button {
    color: #e37b4c;
    font-family: 'Andale Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: 2px solid #e37b4c;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button:hover {
    background-color: #e37b4c;
    color: #000;
    border: 2px solid #e37b4c;
}

.offset-content {
    position: absolute;
    padding-left: 250px;
    top: 18px;
    width: 1200px;
    z-index: -1000;
    
}
  
.offset-content .window {
    background-color: rgba(0, 0, 0, 0.5);
}

.content-view {
    color: #e37b4c;
    background-color: transparent;
    border: 4px solid #e37b4c;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

img{
    height: 294.4px;
    width: 246px;
    float:left;
    padding: 20px;
}

p2 {
    font-size: 20px;
}